* {
    background-color: #1C1C1C;
    color: white;
}
 
.container {
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: row;
    margin: 50px 0 0 0;
}
 
.imagem {
    width: 50%;
}
 
.imagem img {
    height: 600px;
}
 
.containerButtons {
    display: flex;
    flex-direction: column;
    margin: 0;
}
 
.btns {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
 
.containerButtons h2 {
    background-color: #5400BF;
    color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 50px;
}
 
.guess-word {
    color: #FFFFFF;
    margin-bottom: 50px;
    font-size: 64px;
}