.letterButton {
    margin: 5px;
    cursor: pointer;
    background-color: #5400BF;
}

.letterButton.correct {
    background-color: #16BA1C;
}

.letterButton.wrong {
    background-color: #DF1D1D;
}
 
button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}